
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/PDF/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.env
###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
yarn.lock
symfony.lock
package-lock.json
###< symfony/webpack-encore-bundle ###

