/**
*
* Author: Julien Ochsenbein (julien.ochsenbein@gmail.com)
* Pour Studio 60
*
*/

///////////////////////////////////////////////
// COLORS
///////////////////////////////////////////////
$white : #ffffff;
$light_grey : #CCCCCC;
$dark_grey: rgb(63, 63, 63);
$black : #000000;
$limegreen: #32CD32;
$red:#FF0000;
$blue: $primary;
